# Analyzing Avocado Prices from 2020-2022

In this Jupyter notebook, we will take a look at how avocado prices -- as reported by the USDA -- over time, to see if we can spot any trends.

First we will import the Python Pandas data analysis library.

In [1]:
import pandas as pd

Next, we use pandas to read in a CSV as a pandas DataFrame. This CSV was downloaded from https://www.marketnews.usda.gov/mnp/fv-report-retail?repType=&run=&portal=fv&locChoose=&commodityClass=&startIndex=1&type=retail&class=FRUITS&class=VEGETABLES&commodity=ALL&region=NATIONAL&organic=N&repDate=10%2F01%2F2020&endDate=09%2F30%2F2022&compareLy=No.

In [2]:
usda_prices = pd.read_csv('raw_data/fruits_veggies_2020_2022.csv')
usda_prices.head()

,Date,Region,Class,Commodity,Variety,Organic,Environment,Unit,Number of Stores,Weighted Avg Price
0,10/2/2020,NATIONAL,FRUITS,APPLE PEARS,NaN,NaN,NaN,each,13,1.29
1,10/2/2020,NATIONAL,FRUITS,APPLES,FUJI,NaN,NaN,3 lb bag,700,3.85
2,10/2/2020,NATIONAL,FRUITS,APPLES,FUJI,NaN,NaN,5 lb bag,867,4.57
3,10/2/2020,NATIONAL,FRUITS,APPLES,FUJI,NaN,NaN,per pound,"2,958",1.27
4,10/2/2020,NATIONAL,FRUITS,APPLES,GALA,NaN,NaN,2 lb bag,293,3.80

Since this initial CSV file include prices for all fruits and vegetables, we will need to filter it to only avocados.

In [3]:
avocado_prices = usda_prices[(usda_prices['Commodity'] == 'AVOCADOS') &\
                             (usda_prices['Variety'] == 'HASS')].copy()
avocado_prices.head(10)

,Date,Region,Class,Commodity,Variety,Organic,Environment,Unit,Number of Stores,Weighted Avg Price
35,10/2/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"8,331",1.07
249,10/9/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"11,440",1.04
463,10/16/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"10,051",1.06
681,10/23/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"11,334",0.99
682,10/23/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,per pound,225,0.74
896,10/30/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"10,971",1.15
1119,11/6/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"11,920",1.02
1327,11/13/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"8,198",1.03
1538,11/20/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"6,001",1.22
1539,11/20/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,per pound,5,1.39

Woops, it looks like not all of these prices are listed in the same way. Let's filter again to only price listings on an *each* unit basis.

In [4]:
avocado_prices = usda_prices[(usda_prices['Commodity'] == 'AVOCADOS') &\
                             (usda_prices['Variety'] == 'HASS') &\
                             (usda_prices['Unit'] == 'each')].copy()
avocado_prices.describe()

       Organic  Weighted Avg Price
count      0.0          104.000000
mean       NaN            1.218365
std        NaN            0.191266
min        NaN            0.780000
25%        NaN            1.060000
50%        NaN            1.200000
75%        NaN            1.330000
max        NaN            1.750000

In [5]:
avocado_prices.to_csv('cleaned_data/avocado_prices_2020_2022.csv', index=False)

In [6]:
avocado_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 104 entries, 35 to 20294
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                104 non-null    object
 1   Region              104 non-null    object
 2   Class               104 non-null    object
 3   Commodity           104 non-null    object
 4   Variety             104 non-null    object
 5   Organic             0 non-null      float64
 6   Environment         0 non-null      object
 7   Unit                104 non-null    object
 8   Number of Stores    104 non-null    object
 9   Weighted Avg Price  104 non-null    float64
dtypes: float64(2), object(8)
memory usage: 8.9+ KB

In [7]:
avocado_prices['converted_date'] = pd.to_datetime(avocado_prices['Date'])
avocado_prices.head()

,Date,Region,Class,Commodity,Variety,Organic,Environment,Unit,Number of Stores,Weighted Avg Price,converted_date
35,10/2/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"8,331",1.07,2020-10-02
249,10/9/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"11,440",1.04,2020-10-09
463,10/16/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"10,051",1.06,2020-10-16
681,10/23/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"11,334",0.99,2020-10-23
896,10/30/2020,NATIONAL,FRUITS,AVOCADOS,HASS,NaN,NaN,each,"10,971",1.15,2020-10-30

In [8]:
price_pivot = avocado_prices.pivot(index="converted_date", 
                                   columns="Commodity", values="Weighted Avg Price")
price_pivot.head()

Commodity       AVOCADOS
converted_date
2020-10-02          1.07
2020-10-09          1.04
2020-10-16          1.06
2020-10-23          0.99
2020-10-30          1.15

In [ ]:
avocado_plot = price_pivot.plot(title='Avocado Prices',
                                xlabel='Date',
                                ylabel='Average Price (USD)',
                                legend=False,
                                color='green')
avocado_plot

Now we'll save this figure into the `figures` directory so that we can use it in the future. Maybe we can even include it in the README file??

In [ ]:
fig = avocado_plot.get_figure()
fig.savefig('figures/avocado_prices.png')